<h1><%= @project.name %></h1>

<%= link_to "Edit Project", edit_project_path(@project), class = "ui orange button" %>
<%= link_to "Delete Project", project_path(@project), method: :delete, class = "ui red button" %>
